table.tablesorter {
  margin-top: 70px;
}

tr {
  border: none;
  margin: 0px;
  padding: 0px;
}

th, td {
  text-align: left;
  padding-right: 5px;
  font-weight: bold;
  min-width: 45px;
}

.red { color: red; }
.orange { color: orange; }
.green { color: green; }
.blue { color: blue; }
.even { background: #DDD; }

.drafted {
  color: gray;
  font-weight: none;
}

#query {
  top: 0px;
  position: fixed;
}

